[Unit]
Description=CLI Password manager
After=network.target

[Service]
ExecStart=/bin/goPassd
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
